html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Maven Pro', sans-serif;
}

a { 
  text-decoration: none;
  color: black;
}

header{  
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

header::before{
  width: 100%;
  height: 100vh;
  content: "";
  z-index: -1;
  position: absolute;
  background-image: url(https://pauloandreoliv.github.io/SPA-Personagens-da-Marvel/assets/images/header.jpg);
  background-size: cover;
  filter: blur(5px);
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

nav a {
  font-size: 16px;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
  transition: 0.1s;
}

nav a:hover {
  font-weight: 500;
  border-bottom: 2px solid red;
}

nav #menu_personagens {
  margin-left: 50px;
  margin-right: 50px;
}

#logo {
  width: 250px;
  height: 100.5px;
  background-image: url(https://pauloandreoliv.github.io/SPA-Personagens-da-Marvel/assets/images/Marvel_Logo_SVG.svg);
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
}

#logo:hover {
  opacity: 0.5;
}

h1 {
  margin-top: 100px;
  letter-spacing: 10px;
  text-align: center;
}

.personagens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.personagem {
  display: inline;
  width: 300px;
  height: 350px;
  margin-right: 20px;
  margin-bottom: 50px;
  border: 1px solid #DADADA;
}

.personagem .topo_personagem {
  width: 100%;
  height: 90px;
  margin-bottom: 70px;
  padding-top: 15px;
  background: #dd4444;
}

.personagem .topo_personagem .imagem_personagem {
  width: 150px;
  height: 150px;
  margin-left: 75px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  transition: 0.3s;
}

.personagem .topo_personagem .imagem_personagem:hover {
  padding: 5px;
  margin-left: 70px;
}

.personagem .nome_personagem {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.personagem .desc_personagem {
  box-shadow: inset;
  height: 90px;
  padding: 10px;
  font-size: 14px;
  overflow-y: scroll;
  text-align: justify;
}