<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pauloandreoliv.github.io/SPA-Personagens-da-Marvel/assets/css/style.css">
  <title>Marvel - Personagens</title>
</head>
<body>
  <header>
    <nav>
      <a href="#"> INÍCIO</a>
      <a href="#1" id="menu_personagens">PERSONAGENS</a>
      <a href="#2">PESQUISAR</a>
    </nav>
    <div id="logo"></div>
  </header>
  <main>
    <h1>PERSONAGENS</h1>
    <div class="botoes">
      <form action="{{url_for('list_all')}}" method="POST">
      	<button type="submit" name="list_all" id="list_all">=</button>
      </form>
      <form action="{{url_for('advance')}}" method="POST">
      	<button type="submit" name="advance" id="advance">></button>
      </form>
    </div>
    <section class="personagens" id="1">
      {%for character in characters%}
      <div class="personagem">
        <div class="topo_personagem">
        <div class="imagem_personagem" style="background-image: url({{character["thumbnail"]}});"></div>
        </div>
        <div class="nome_personagem">{{character["name"]}}</div>
        <div class="desc_personagem">{{character["description"]}}</div>
      </div>
      {%endfor%}
   </section>
   <h1>PESQUISAR</h1>
   <section>
     <form action="{{url_for('search_for')}}" method="POST">
       <input type="text" id="character_name" name="character_name" placeholder="Escreva o nome do personagem em Inglês">
       <button></button>
     </form>
   </section>
  </main>
</body>
</html>