<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pauloandreoliv.github.io/SPA-Personagens-da-Marvel/assets/css/style.css">
  <title>Marvel Heroes</title>
</head>
<body>
  <header>
    <div id="logo"></div>
    <nav>
      <h1>PERSONAGENS DA MARVEL</h1>
    </nav>
  </header>
  <main>
    <section>
      <div class="box_heroi">
        <div class="img_heroi" style="background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/d/d0/5269657a74350.jpg);"></div>
        <p class="nome_heroi">Thor</p>
        <p class="desc_heroi">As the Norse God of thunder and lightning, Thor wields one of the greatest weapons ever made, the enchanted hammer Mjolnir. While others have described Thor as an over-muscled, oafish imbecile, he's quite smart and compassionate.  He's self-assured, and he would never, ever stop fighting for a worthwhile cause.</p>
        <a href="http://marvel.com\"><p class="atribuicao">Data provided by Marvel. © 2023 MARVEL</p></a>
      </div>
      </div>
    </section>
  </main>
</body>
</html>